<% content_for :header do %>
  <h1><%= @me.name %> <small>/u/<%= @me.reddit_name %></small></h1>
<% end %>

<% content_for :header_actions do %>
  <div class="roles">
    <% @me.roles.each do |role| %>
      <%= content_tag :span, role.name, class: "label label-#{role.name}" %>
    <% end %>
  </div>
<% end %>

<div class="panel panel-default pull-right">
  <div class="panel-heading">Linked accounts</div>
  <div class="panel-body">
    <%= render 'linked_accounts' %>
  </div>
</div>
